<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="./styles/styles.css">
    <title>ClonFlix</title>
</head>
<body>
    <div class="container">
        <div class="navigator">
            <ul class="list-item">
            <h1 class="bigtext">ClonFlix</h1>
                <li>Inicio</li>
                <li>Series</li>
                <li>Peliculas</li>
                <li>Novedades populares</li>
                <li>Mi lista</li>
            </ul>

            <!-- tools items  -->
            <ul class="tools-items">
                <li>Busqueda</li>
                <li>Niños</li>
                <li>Notificaciones</li>
                <li><img src="./images/user.png" width="40px" alt=""></li>
            </ul>
        </div>
        <!-- video container -->
        <div class="video-container">
            <video src="./videos/video-1.mp4" autoplay loop muted></video>
        </div>
        <!-- info film -->
        <div class="content-film">
            <h1 class="content-film-title">Astronaut <br> The New Era</h1>
            <div class="info-box">
                <p class="info">Monte and his daughter Willow live completely isolated aboard a spaceship. They were not always alone: ​​they were part of a group of death row inmates who agreed to commute their sentences for participating in a mission to the closest black hole to Earth.</p>
            </div>
            <div class="controls">
                <button class="play"><img src="./images/play.png" class="img-play" alt="">Reproducir</button>
                <button class="more-info"><img src="./images/info.png" alt=""> Más información</button>
            </div>
        </div>
    </div>
    <main class="main-container">
        <section class="cards-films">
            <div class="card">
                <img src="./images/film-1.jpg" class="film" alt="">
            </div>
            
            <div class="card">
                <img src="./images/film-2.jpg" class="film" alt="">
            </div>
            
            <div class="card">
                <img src="./images/film-3.jpg" class="film" alt="">
            </div>
            
            <div class="card">
                <img src="./images/film-4.jpg" class="film" alt="">
            </div>
            
            <div class="card">
                <img src="./images/film-5.jpg" class="film" alt="">
            </div>
            
            <div class="card">
                <img src="./images/film-6.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="./images/film-7.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="./images/film-8.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="./images/film-9.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="./images/film-10.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="http://3.bp.blogspot.com/-DLRU7scNFm0/Tdtfd42PMoI/AAAAAAAAKoI/GWni2PDvKKQ/s1600/harrypotter8+poster.jpg" class="film" alt="">
            </div>

            <div class="card">
                <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/book-cover-or-movie-film-theatre-flyer-template-3e8b0cdb88840bd790fae4213a013335_screen.jpg?ts=1636966442" class="film" alt="">
            </div>

        </section>
    </main>

    <script src="../model/app.js"></script>
</body>
</html>